<header class="masthead text-center text-white d-flex">
<div class="container my-auto">
 <div class="row">
   <div class="col-lg-10 mx-auto">
     <h1 class="text-uppercase">
       <strong>Your Favorite Source of Free Bootstrap Themes</strong>
     </h1>
     <hr>
   </div>
   <div class="col-lg-8 mx-auto">
     <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
     <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
   </div>
 </div>
</div>
</header>



<p id="notice"><%= notice %></p>
<div class="container">
<h1>Improgroups</h1>
</div>
<table>
  <div class="container col-md-12">
    <thead>
      <tr>
        <th>Name improgroups</th>
        <th>Creation year</th>
        <th>Actors improgroups</th>
        <th>Image improgroups</th>
        <th colspan="10"></th>
      </tr>
    </thead>
  </div>

  <tbody>
    <% @improgroups.each do |improgroup| %>
      <tr>
        <td><%= improgroup.name_improgroups %></td>
        <td><%= improgroup.creation_year %></td>
        <td><%= improgroup.actors_improgroups %></td>
        <td><%= improgroup.image_improgroups %></td>
        <td><%= link_to 'Show', improgroup %></td>
        <td><%= link_to 'Edit', edit_improgroup_path(improgroup) %></td>
        <td><%= link_to 'Destroy', improgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-primary">
  <%= link_to 'New Improgroup', new_improgroup_path %>
</button>
